/* ::::: OPTIONS ::::: */

radio[pane] {
	list-style-image: url("chrome://foxage2ch/skin/options.png");
}

radio[pane="pane1"] {
	-moz-image-region: rect(0px, 32px, 32px, 0px)
}

radio[pane="pane2"] {
	-moz-image-region: rect(0px, 64px, 32px, 32px)
}

row > label {
	text-align: end;
}

